---
import BlogPost from '@/components/BlogPost.astro'
import { siteConfig } from '@/configs/site-config'
import MainLayout from '@/layouts/MainLayout.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

const { title } = siteConfig
const blogPosts: CollectionEntry<'blog'>[] = await getCollection('blog')
---

<MainLayout title='Blog'>
  <h1
    class='text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white'
  >
    {title}
  </h1>
  <div class='flex gap-4 mt-2'>
    <a href='/blog/1' class='text-blue-500 hover:underline'>Blog Paginado</a>
    <a href='/authors' class='text-blue-500 hover:underline'
      >Listado de Autores</a
    >
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-8'>
    {blogPosts.map((post) => <BlogPost post={post} />)}
  </div>
</MainLayout>
